body {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    background: rgb(0, 0, 0);
}

.header-image { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 50%;
    height: auto;
    margin-bottom: 50px;
}

.header-text {
    padding-left: 40px;
    font-size: 2vw;
    width: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-frame {
  padding-left: 40px;
}

.movie-title {
    background: black;
    color: white;
    font-size: 2.76vw;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: auto;
    padding-left: 100px;
}

.image-frame {
    float:left;
    width: 20vw;
    height: max-content;
    display: inline-block;
    margin-right: 25px;
}

.attributes-frame {
    background: rgb(0, 0, 0);
    width: 100%;
    height: 370px;
    margin-right:5px;
}

.attribute-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.other-attribute, .other-attribute-label {
    background: black;
    color: white;
    text-align: left;
    font-family: airstreamregular;
    font-size: 2vw;
    font-family: "Courier New";
    display: inline;
}

.button-panel {
  position: absolute;
  padding-top: 21.5%;
  padding-left: 21%;
}

.generate-button {
    border: none;
    background-color:rgb(6, 164, 40);
    color: white;
    padding: auto auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    width: 12vw;
    height: 4vw;
}

.generate-button:hover {
    background-color: rgb(4, 123, 30);
    color: white;
}

.custom-select {
    position: relative;
    font-family: Arial;
    display: inline-block;
    width: 12vw;
    height: 4vh;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: rgb(56, 3, 216);
    border-radius: 12px;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: .5;
    height: .5;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    font-size: medium;
    font-size: 1.2vw;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: rgb(56, 3, 216);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height:200px;
    overflow:scroll; 
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgb(97, 58, 213);
  }